* {
    font-family: "Open Sans", Arial, sans-serif;
}

p {
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    color: #33485e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.title {
    font-size: 1.5em;
    color: #33485e;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    background-color: #33485e;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
}

h5 {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}