* {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}

p {
    font-size: 1em;
    color: #444;
}

h1 {
    font-size: 3em;
    color: #33485e;
    text-align: center;
    text-transform: uppercase;
}

.title {
    font-size: 1.5em;
    color: #33485e;
    text-transform: uppercase;
}